keybinds clear-defaults=true {
    normal {
    }
    locked {
        bind "Ctrl ." { SwitchToMode "Normal"; }
    }
    pane {
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "s" { NewPane "stacked"; SwitchToMode "Normal"; }
        bind "f" { TogglePaneFrames; SwitchToMode "Normal"; }
    }
    session {
        bind "d" { Detach; }
        bind "a" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
    }
    shared_except "locked" {
        bind "Ctrl ." { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl h" "Ctrl Left" { MoveFocusOrTab "Left"; }
        bind "Ctrl l" "Ctrl Right" { MoveFocusOrTab "Right"; }
        bind "Ctrl j" "Ctrl Down" { MoveFocus "Down"; }
        bind "Ctrl k" "Ctrl Up" { MoveFocus "Up"; }
        bind "Ctrl =" "Ctrl +" { Resize "Increase"; }
        bind "Ctrl -" { Resize "Decrease"; }
    }
    shared_except "normal" "locked" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "locked" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "session" "locked" {
        bind "Ctrl s" { SwitchToMode "Session"; }
    }
}

// Use compact layout.
// See: ./layouts/compact.kdl
default_layout "compact"

// Choose the mode that zellij uses when starting up.
default_mode "locked"

// Hide pane frames around the panes.
pane_frames false

// Whether sessions should be serialized to the cache folder
// (including their tabs/panes, cwds and running commands)
// so that they can later be resurrected.
session_serialization false

// Whether to show tips on startup.
show_startup_tips false

// Use a simplified UI without special fonts (arrow glyphs).
simplified_ui true

// Use the catppuccin mocha theme.
// See: https://github.com/catppuccin/zellij
theme "catppuccin-mocha"
